
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
.display-flex{
  display: flex;
}
/* dark02 */
.text-gray{
  color: #424242;
}
/* dark03 */
.text-light-gray{
  color: #727272;
}

.nav-item{
  list-style: none;
  margin-right: 30px;
}
.nav-link{
  text-decoration: none;
  font-weight: 500;
}
.navber{
  justify-content: space-between;
}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}

.navber,.banner{
  max-width: 1440px;
  margin: 0 auto;
}